In [8]:
c=[1,2,3.3,'heyy',[1,4,6,5],22]
c[2]

3.3

In [11]:
z='heyyy e'
type(z)

str

In [12]:
len(z)

7

In [1]:
z.capitalize()

NameError: name 'z' is not defined

In [10]:
a='nameis'
a.capitalize()

'Nameis'

In [6]:
a.count('i')
a.find('i')
a.endswith('20')

False

In [7]:
a.startswith('n')

True

In [8]:
a.isalnum()

False

In [11]:
a.isalpha()

True

In [12]:
a.islower()

True

In [13]:
a

'nameis'

In [14]:
a.isupper()

False

In [15]:
a.upper()

'NAMEIS'

In [16]:
a.lower()

'nameis'

In [18]:
w=10
if w>5:
    print('Yes')

Yes

In [24]:
mark=int(input('Enter mark(50):'))
if mark>46:
    print('A+')
elif 41<=mark<=45:
    print('A')
elif 36<=mark<=40:
    print('B+')
elif 31<=mark<=35:
    print('B')
else:
    print('f')

B

In [25]:
num = float(input("enter NO.:"))
if num >= 0:
    if num>=0:
        print("NUM=0")
    else:
        print("Num is positive")
else:
    print("Num is Negative")

NUM=0

In [26]:
for i in range(5,20):
    print(i)

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [28]:
l=[1,2,3]
for i in l:
    print(i)

1
2
3

In [29]:
l=[1,2,3,4,5,6,7,8]
for i in l:
    if i%2==0:
        print("Even")
    else:
        print("odd")

odd
Even
odd
Even
odd
Even
odd
Even

In [30]:
l=[1,2,3,4,5,6]
even=0
odd=0
for i in l:
    if i%2==0:
        even=even+1
    else:
        odd+=1
print(even)
print(odd)

3
3

In [38]:
for i in range(1,100):
    if i%7!=0:
        if i%5!=0:
            print(i)

1
2
3
4
6
8
9
11
12
13
16
17
18
19
22
23
24
26
27
29
31
32
33
34
36
37
38
39
41
43
44
46
47
48
51
52
53
54
57
58
59
61
62
64
66
67
68
69
71
72
73
74
76
78
79
81
82
83
86
87
88
89
92
93
94
96
97
99

In [39]:
a=10
if a>8 and a<15:
    print('True')
if a>10 or a>20:
    print("true")

True

In [40]:
a=10
if not (a<8 and a<25):
        print('True')

True

In [41]:
for i in range(1,100):
    if not(i%5==0 and i%7==0):
        print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [42]:
i=1
while i<10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9